name: Laravel Deploy

on: [push] #to any branch

jobs:

  deploy-dev:

    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev' # run this job only for the dev branch

    steps:
    - uses: actions/checkout@v3

    - name: Create SSH key
      run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
          
    
    - name: excute script file
      run: ssh -f ubuntu@${{ secrets.SSH_HOST }} /home/ubuntu/teamboard/dev/test.sh

  deploy-prod:

    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # run this job only for the dev branch

    steps:
    - uses: actions/checkout@v3

    - name: Create SSH key
      run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
          
    
    - name: excute script file
      run: ssh -f ubuntu@${{ secrets.SSH_HOST }} /home/ubuntu/teamboard/prod/prod.sh